*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
# raw_data/
*.csv
*.pkl
**/__pycache__/
.env
*.geojson
!housing_crawler/data/germany/bundeslaender/*.geojson
!housing_crawler/data/**/*border.geojson
# *.ipynb
*.html
notebooks/
*.shp
!germany_summary.shp
!*ads_OSM.csv
.shx
.prj
.dbf
.cpg
plz-5stellig/
plz-5stellig-centroid/
!bundeslaender/
