# packaging
pip>=9
# pyenv
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
# scikit-learn

# Data Sourcing
requests
bs4

# tests/linter
# black
# coverage
# flake8
# pytest
# yapf

# utilities
six>=1.14
# joblib
# memoized-property
# termcolor
geopy
