# packaging
pip>=9
# pyenv
setuptools>=26
twine
wheel>=0.29

# data science
statsmodels
numpy
pandas
geopandas
shapely
rtree
scikit-learn
xgboost

# Plotting
plotly
matplotlib
seaborn
branca
folium

# Data Sourcing
requests
bs4
random_user_agent

# tests/linter
# black
# coverage
# flake8
# pytest
# yapf

# utilities
six>=1.14
# joblib
# memoized-property
# termcolor
geopy
streamlit
streamlit-folium
